/* Karla Font: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* My own variables */
:root {
  /* primary */
  --cyan: hsl(179, 64%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);

  --standard-font-size: 16px;
  --karla: 'Karla', sans-serif;
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--karla);
  background-color: var(--light-gray);
}

.container {
  width: 1440px;
  height: 100vh;
  padding: 0 80px;
  margin: auto;
}

.flexible-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
  background-color: coral;
  border-radius: 8px;
  overflow: hidden;
}

.card-price .card-head {
  padding: 34px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-price .card-body {
  padding: 34px;

}